.calculator {
  display: grid;
  width: 45vw;
  height: 45vh;
  padding: 8px;
  border: red solid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr repeat(5, 1fr);
  gap: 8px;
}
.calculator div {
  text-align: center;
  background-color: grey;
}
div.output {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column: 1 / 5;
  background-color: blue;
}

div.err {
  grid-column: 1 / 5;
  background-color: blue;
}
.allContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
